/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 60px;
  color: #e7caca;
  opacity: 0.5;
  margin-bottom: 20px;
}

.todo-card {
  width: 500px;
  background: white;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.todo-input {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #eee;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #f3f3f3;
  font-size: 18px;
  align-items: center;
}

.todo-item:hover {
  background: #fafafa;
}

.delete-icon {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.todo-item:hover .delete-icon {
  opacity: 1;
}

.empty {
  padding: 16px;
  font-size: 16px;
  color: #777;
}
